* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(233, 125, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-image: linear-gradient(
    to right,
    rgb(196, 79, 255),
    rgb(196, 0, 75)
  );

  height: 70px;
  margin-bottom: 2.5rem;
}

nav > ul {
  display: flex;
  padding: 1rem;
  list-style: none;
  font-size: larger;
}

ul > li {
  margin-left: 1rem;
  color: white;
}
h1 {
  margin-left: 3rem;
  text-decoration: underline;
  color: rgb(196, 0, 75);
  font-size: 40px;
  font-family: "Lobster", cursive;
}
h2 {
  margin-left: 3rem;
  text-decoration: underline;
  color: rgb(73, 0, 95);
  font-size: xx-large;
  font-family: "Lobster", cursive;
}
h3 {
  margin-left: 3rem;
  margin-top: 1rem;
  width: 500px;
}
.img-main {
  width: 400px;
  border-radius: 10px;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.spacer {
  height: 200px;
}
/* nature page */
.img-butterfly {
  border-radius: 10px;
  width: 400px;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.p-1 {
  margin-left: 3rem;
  margin-bottom: 3rem;
  width: 500px;
  font-size: large;
}
a {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Lobster", cursive;
}
a:hover {
  color: white;
  font-weight: bolder;
}
iframe {
  margin-left: 3rem;
}
/* horror page */
table {
  margin-top: 2rem;
  margin-left: 3rem;
}

table,
th,
td {
  height: auto;
  padding: 5px;
}
th {
  color: white;
  border: 2px solid rgb(196, 0, 75);
  border-radius: 10px;
}
table {
  width: 500px;
  border: 2px solid rgb(196, 0, 75);
  border-radius: 10px;
}
#thing {
  margin-left: 3rem;
  margin-top: 0;
  width: 500px;
}
/* form */

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 30%;
  position: absolute;
  margin-top: 40px;
  margin-left: -260px;
  border-radius: 10px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid rgb(196, 79, 255);
  color: rgb(196, 79, 255);
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: rgb(196, 79, 255);
  border: rgb(196, 79, 255) solid 3px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

span {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

#button-blue {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: rgb(196, 79, 255);
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(196, 79, 255);
}

.submit:hover {
  color: rgb(196, 79, 255);
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

/* sushi animation */
.content {
  position: absolute;
  top: 25%;
  left: 43%;
  transform: translate(-50%, -50%);
}

.chopstick_1 {
  height: 400px;
  width: 15px;
  background-color: black;
  position: absolute;
  transform: rotate(-12deg);
  border-radius: 20px;
  left: 240px;
  top: -600px;
  animation: slideDown1 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.chopstick_2 {
  height: 400px;
  width: 15px;
  background-color: black;
  transform: rotate(-6deg);
  border-radius: 20px;
  position: absolute;
  top: -600px;
  z-index: -1;
  left: 220px;
  animation: slideDown1 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.seaweed {
  height: 95px;
  width: 95px;
  background-color: #363f24;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 2px;
}

.rice {
  height: 85px;
  width: 85px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.rice_grain_1 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #daf1ee;
  position: relative;
  top: 35px;
  left: 2px;
}

.rice_grain_2 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #daf1ee;
  position: relative;
  top: 36px;
  left: 3px;
}

.rice_grain_3 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #daf1ee;
  position: relative;
  top: -11px;
  left: 25px;
}

.fish {
  position: absolute;
  height: 60px;
  width: 35px;
  background-color: #fc875e;
  left: 40px;
  top: 13px;
  overflow: hidden;
  border-top-right-radius: 40px;
  /* 100px of height + 10px of border */
  border-bottom-right-radius: 40px;
  /* 100px of height + 10px of border */
  border: 0px solid #fc875e;
  border-bottom: 0;
}

.veggie_1 {
  background-color: #c8d37a;
  height: 30px;
  width: 30px;
  -moz-border-radius: 30px 0 0 0;
  border-radius: 30px 0 0 0;
  top: -11px;
  left: 11px;
  position: relative;
}

.veggie_2 {
  background-color: #c9c9ae;
  height: 30px;
  width: 30px;
  -moz-border-radius: 0px 0 0 30px;
  border-radius: 0px 0 0 30px;
  top: -11px;
  left: 11px;
  position: relative;
}

.fish_lines_1 {
  width: 75px;
  height: 55px;
  border-radius: 50%;
  -ms-box-shadow: 0px 7px 0 0 #ffffff;
  -o-box-shadow: 0px 7px 0 0 #ffffff;
  -webkit-box-shadow: 0px 7px 0 0 #ffffff;
  box-shadow: 0px 7px 0 0 #ffffff;
  opacity: 0.3;
  left: 0px;
  top: -10px;
  position: absolute;
}

.fish_lines_2 {
  width: 85px;
  height: 45px;
  border-radius: 50%;
  -ms-box-shadow: 0px 7px 0 0 #ffffff;
  -o-box-shadow: 0px 7px 0 0 #ffffff;
  -webkit-box-shadow: 0px 7px 0 0 #ffffff;
  box-shadow: 0px 7px 0 0 #ffffff;
  opacity: 0.3;
  left: -15px;
  top: -33px;
  position: absolute;
  transform: rotate(20deg);
}

@keyframes slideIn {
  from {
    left: 0%;
  }
  to {
    margin-left: 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#sushi_2 {
  left: 120px;
  position: relative;
  animation: slideIn 3s;
}

#sushi_3 {
  left: -120px;
  position: relative;
  animation: slideIn 3s;
}

#sushi_2 .veggie_1 {
  background-color: #94a98e;
}

#sushi_2 .veggie_2 {
  background-color: #fdc980;
}

#sushi_2 .fish,
#sushi_3 .fish {
  background-color: #e98375;
}

#sushi_1 .fish {
  transform: rotate(180deg);
  left: 11px;
}

#sushi_1 .veggies .veggie_1 {
  transform: rotate(90deg);
  left: 44px;
}

#sushi_1 .veggies .veggie_2 {
  transform: rotate(-90deg);
  left: 44px;
  background-color: #c5473e;
}

#sushi_2 .rice_grain_1,
#sushi_2 .rice_grain_2 {
  left: 75px;
}

#sushi_2 .rice_grain_3 {
  left: 55px;
  top: -3px;
}

#sushi_3 .rice_grain_2 {
  top: 60px;
  left: 65px;
}

#sushi_3 .rice_grain_1 {
  top: 55px;
  left: 6px;
}

#sushi_3 .rice_grain_3 {
  left: 10px;
  top: 3px;
}

#sushi_1 {
  animation: slideIn 3s;
  position: relative;
}

#sushi_1 .rice,
#sushi_2 .rice,
#sushi_3 .rice {
  animation: rotate 3s;
}

@keyframes slideDown1 {
  0% {
    top: -600px;
  }
  100% {
    top: -300px;
  }
}
